---
import Layout from '../layouts/Layout.astro';
const title = "Acerca de"
---
    
<Layout title={title}>
        <div class="flex flex-col justify-center items-center py-12">
    
    
            <div class="">
                <div class="flex flex-col gap-y-5 p-5 xl:grid xl:grid-cols-2 sm:max-w-7xl">
                    <figure class="grid justify-center xl:justify-start">
                        <img
                            class="rounded-lg w-[500px] h-[400px] object-contain"
                            src="/gift.jpg"
                            alt=""
                        />
                    </figure>
                    <div class="rounded-lg p-5 sm:w-[620px] sm:min-h-[400px]">
                        <h2 class="mb-5 text-5xl tracking-tight font-extrabold text-gray-800 sm:text-5xl md:text-5xl">
                            Mision
                        </h2>
                        <p class = "text-gray-500">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptas nam quisquam totam cum rem quis, accusantium illum ut ducimus maxime, nemo repellendus aliquam debitis! Quia magnam harum ad cum.
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="">
                <div class="flex flex-col gap-y-5 p-5 xl:grid xl:grid-cols-2 sm:max-w-7xl">
                    <figure class="grid justify-center xl:justify-end xl:order-2 ">
                        <img
                            class="rounded-lg w-[500px] h-[400px] object-contain"
                            src="/gift.jpg"
                            alt=""
                        />
                    </figure>
                    <div class="rounded-lg p-5 sm:w-[620px] sm:min-h-[400px]">
                        <h2
                            class="mb-5 text-5xl tracking-tight font-extrabold text-gray-800 sm:text-5xl md:text-5xl">
                            Vision
                        </h2>
                        <p class = "text-gray-500">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique maiores nemo illo perferendis, deleniti itaque natus, cupiditate, amet ut ipsa voluptas quibusdam reiciendis animi magnam officia nisi tenetur nostrum dolores vero dolorem dicta excepturi corporis! Aperiam repellendus fugit vitae accusantium.
                        </p>
                    </div>
                </div>
            </div>
        </div>  
    </Layout>
    