---
function getCurrentYear() {
  const currentDate = new Date();
  return currentDate.getFullYear();
}

const currentYear = getCurrentYear();

---

<footer class="bg-gray-900">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img
                  class="h-8"
                  src="/procure.svg"
                  alt="Your Company"
                />
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">@MiTienda</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium sm:mb-0 text-gray-400">
                <li>
                    <a href="/servicios/" class="hover:underline me-4 md:me-6">Acerca de</a>
                </li>
                <li>
                    <a href="/contacto/" class="hover:underline">Contactenos</a>
                </li>
            </ul>
            <a href="/terminos-condiciones/" class="text-gray-400 text-sm font-medium">Terminos y condiciones</a>
        </div>
        <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8" />
        <span class="block text-sm sm:text-center text-gray-400">© {currentYear} <a href="http://localhost:4321/" class="hover:underline"></a>. Todos los derechos reservados</span>
    </div>
</footer>